$blue: #2265c1
$white: #f2f2f2
$pink: #a26aa2
$gray: #d8d8d8
$ocean: #06cde8
$whiteBg: #f9f9f9
$pinkSec: #cd38dc
$darkPurp: #32075e
.main__page
    height: 100vh
    width: 100%
    background-image: linear-gradient(to top right, $blue, $pink)
    position: relative
    .main__scroll__text
        color: $gray
        position: absolute
        left: 50%
        transform: translateX(-50%)
        animation: scroll 5s infinite
        bottom: 8px
    .main__content__wrapper
        width: 90%
        height: 400px
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        .main__title
            color: $white
            text-align: left
            font-size: 42px
        .main__subtext
            color: $gray
            font-size: 18px
            text-align: left
            padding-top: 10px
        .main__btn
            color: $white
            border: 3px solid $white
            display: flex
            justify-content: center
            align-items: center
            border-radius: 30px
            margin-top: 20px
            height: 38px
            width: 150px

.about__section
    height: 110vh
    background-color: $whiteBg
    position: relative
    .about__image__wrapper
        height: 310px
        width: 310px
        .about__image
            height: 300px
            width: 300px
            position: absolute
            left: 50%
            transform: translateX(-50%)
            top: 25px
    .about__title
        padding-top: 22px
        text-align: center
        font-size: 34px
        color: $blue
        position: relative
        &::after
            content: ""
            position: absolute
            bottom: -10px
            left: 50%
            transform: translateX(-50%)
            width: 60px
            border-top: 4px solid $pinkSec
    .about__subtext
        color: $darkPurp
        padding-left: 5%
        padding-right: 5%
        font-size: 20px
        text-align: center
        padding-top: 28px




//Mediqqueries
@media (max-width: 320px)
    .about__section
        height: 130vh

//Animations
@keyframes scroll
    0%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 1

